body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #b1d9ff, #e7f0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#progress_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 3px;
    background-image: linear-gradient(to right,  rgb(0, 247, 255), rgb(1, 31, 255));
    z-index: 10000;
    transition: all 0.3s ease;
    width: 0%;
}

#changePassword_container{
    width: 360px;
    background: rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    backdrop-filter: blur(10px);
    animation: fadeIn 0.5s ease;
    text-align: center;
}
#changePassword_container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#changePassword_container .row .icon{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
#changePassword_container input{
    width: 90%;
    padding: 12px 10px 12px 20px;
    border-radius: 12px;
    border: 2px solid #cfcfcf;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 20px;
}

#changePassword_container input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74,144,226,0.4);
}

#changePassword_container button{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    transition: 0.25s;
    font-weight: 600;
    background: #51c27c; 
    color: white;
}

#changePassword_container button:hover{
    background: #45a86a;
}
